body {
  margin: 0;
  padding: 0;
  font-family: "BentonSans Regular","Helvetica Neue",Helvetica,Arial,"Sans-Serif";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

img {
  width: 300px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  line-height: 20px
}

figure {
  margin-top: 0;
}

.indent {
  margin-left: 5px
}

.btn {
  cursor: pointer;
}

.background-image {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    ),
  url('images/hipster-friends-intrepid.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.demo {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)
    ),
  url('images/events.jpg');
  /*position: relative;*/
  /*min-height: 100vh;
  width: 100vw;*/
  background-attachment: none;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.wrapper {
  position: relative;
}

.content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  width: 100vw;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

/*.content-demo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  top: 15px;
}*/

.demo-right{
  /*position: relative;*/
}

.splash-txt {
  color: white;
  width: 300px;
  text-shadow: 2px 2px 1px darkslategray;
}

.splash-btns {
  margin-top: 35px;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  width: 220px;
}

span {
  padding: 15px;
  background-color: #3b5998;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  margin-right: 5px;
}

.header {
  position: absolute;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: white;
  top: 50px;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
}

.splash-header {
  right: 50px;
}



#demo-btn {
  background-color: #3b5998;
  width: 200px;
  text-align: center;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  box-shadow: 5px 5px 10px rgba(7, 7, 7, 0.78);
}

#demo-btn:hover, .splash-header:hover {
  background-color: crimson;
  border-color: transparent;
}

.github {
  background-image: url('images/github.png');
  height: 50px;
  width: 50px;
  background-size: cover;
}

#google-play {
  background-image: url('images/google-play.png');
  height: 50px;
  width: 50px;
  background-size: cover;
  margin-right: 25px;
}

.demo-left {
  position: relative;
  top: -45px;
}
